.button {
    padding: 20px;
    font-size: 1.2em;
    background-color: red;
    color: white;
}

.score {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.5em;
}

.message {
    font-size: 1em;
    padding: 20px;
}

.game {
    width: 1000px;
    margin: auto;
}

.hole {
    display: inline-block;
    margin: 10px;
    width: 20%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.dirt {
    background-image: url(../images/whackamole-ground.png);
    background-size: cover;
    z-index: 10;
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.mole {
    background-image: url(../images/whackamole-mole.png);
    background-size: cover;
    z-index: 3;
    position: absolute;
    height: 250px;
    top: 250px;
    left: 0px;
    width: 100%;
    cursor:  crosshair;
}

.wack {
    max-width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}